.face {
  display: block;
  margin: auto;
  /*height: 15em;*/
}

.fixation {
  font-weight: bold;
  line-height: 15em; /* to center the fixation cross */
  text-align: center;
  vertical-align: middle;
}

#jspsych-single-stim-stimulus {
  height: 15em;
}

#jspsych-multi-stim-multi-response-stimulus {
  height: 15em;
}
